	
#eu{

	height: 250px;
	width: 250px;
	float: right;
	margin-right: 30px;
}
#infos{
	background-color: darkgrey;
}

i{
	color: black;
	font-size: 25px;
	margin-bottom: 0;
}
a{
	color: black;
	font-family: arial;
	font-size: 20px;
}
body{
	background-color: lightblue;
}
#pai{
	height: 50px;
}
#pai h1{
	color: red;

	text-align: center;
}
#foto{

	z-index: 1;
}
div .container{
	float: right;
}