#eu{

	height: 250px;
	width: 250px;
	
	}

	
.resumo{
	font-family: times,serif;
	font-size: 23px;
	background-color: lightgrey;
}
.hResumo{
	 font-family: helvetiva, sans-serif;
	 border-bottom: 1px, solid,black;
	 text-shadow: 0 0 3px black;
}
#cabecalho{
	background-image: url("paprika.png");
	background-size: cover;
	 
	 margin-left: auto;
	 margin-right: auto;
	 width: 50%;
	 height: auto;
	 


	background-repeat: no-repeat;
}